$useWBAgreement: false !default;
$allowDownloadsLink: false !default;
$useHeader: false !default;
$useWBHeader: false !default;
$useWBFooter: false !default;

$allowPumaHelp: false !default;

$usePumaLogo: false !default;
