/nbproject/
/node_modules/
/stubs/
/phantomjs.exe
/highcharts.js
/chart1.pdf
/highcharts-more.js
/chart2.pdf
/jquery.min.js
/public/extjs-4.1.3/
/public/lib/
/public/devlib/
/public/css/ux/
/public/ux/
/tmp/