module.exports = {
	pgConnString    : "postgres://geonode:P4ssw0rd@127.0.0.1:5432/geonode_data",
	pgGNConnString  : "postgres://geonode:P4ssw0rd@127.0.0.1:5432/geonode",
	mongoConnString : "mongodb://192.168.2.13:27017/test",

	localAddress    : "192.168.2.196:3000/tool",
	remoteAddress   : "37.205.9.78/tool",
	remoteProtocol  : "http",

	geoserverHost   : "127.0.0.1",
	geoserverPort   : 8080,
	geoserverPath   : "/geoserver",
	geoserverUsername : "admin",
	geoserverPassword : "P4ssw0rd",

	geoserver2Host  : "127.0.0.1",
	geoserver2Port  : 8080,
	geoserver2Path  : "/geoserver_i2",
	geoserver2Username : "admin",
	geoserver2Password : "P4ssw0rd",

	geonodeHost     : "192.168.2.8",
	geonodePath     : "",
	geonodeHome     : "/geonode",

    geonetworkServer: "http://192.168.2.8/geonetwork"
};
