.field.year {
	padding-right        : 0;
	margin-right         : 20px;
}
.field.year .widget {
	width                : 135px;
}
.field.year .widget .x-field .x-form-item-body {
	padding-left         : 10px;
	color                : #807e87;
	font-weight          : bold;
}
.field.year .widget .x-form-cb-checked .x-form-item-body {
	color                : #fff;
}
.field.year .widget .x-field:first-child .x-form-item-body {
	padding-left         : 0;
}
.field.level {
	padding-right        : 15px;
	margin-right         : 30px;
}
.field.level .label {
	width                : 90px;
}
.field.level .widget {
	width                : 90px;
}
.field.level .widget .button {
	width                : 30px;
	height               : 30px;
	float                : left;
	margin-left          : 5px;
}
.field.level .widget .button:first-child {
	margin-left          : 0;
}
.field.level .x-btn {
	background           : #807e87;
	border               : none;
}
.field.level .x-btn .x-btn-inner {
	color                : #434254;
	font-size            : 25px;
	font-family          : "Courier new", monospace;
}
.field.help .widget {
	width                : 70px;
	line-height          : 30px;
	text-align           : right;
	font-weight          : bold;
}
#app-toolbar-visualization-save,
#app-toolbar-visualization-manage {
	width                : 70px;
	margin-left          : 5px;
	float                : left;
	display              : block;
}
#app-toolbar-visualization-manage {
	width                : 30px;
}
.x-btn.btn-visualization-manage button .x-btn-icon {
	left                 : 7px;
	top                  : 7px;
}
.field.dataview, .field.dataview > .widget {
	display              : block;
	width                : 150px;
}
.x-btn.btn-share button .x-btn-icon {
	left                 : 10px;
}
#app-toolbar-save {
	width                : 110px;
	float                : left;
	margin-top           : 10px;
}
#app-toolbar-manage {
	width                : 30px;
	float                : right;
	margin-top           : 10px;
}
.x-btn.btn-save button .x-btn-icon {
	left                 : 10px;
}
.x-btn.btn-manage button .x-btn-icon {
	left                 : 7px;
	top                  : 7px;
}


/* Sidebar tools */
.x-btn.btn-map-select button .x-btn-icon {
	left                 : 8px;
}
.x-btn.btn-snapshot button .x-btn-icon {
	left                 : 14px;
	width                : 20px;
}

.x-btn.btn-map-tool {
	background           : transparent;
}
.x-btn.btn-map-tool:focus, .x-btn.btn-map-tool:hover {
	background           : #eee;
}
.x-btn.btn-map-tool button .x-btn-icon {
	left                 : 50%;
	top                  : 20px;
}
.x-btn.btn-map-tool button .x-btn-inner {
	padding-top          : 60px;
}
	.x-btn-pressed.btn-map-tool button .x-btn-inner {
		color            : #c92d42;
	}
.x-btn.btn-tool-hover button .x-btn-icon {
	width                : 23px;
	height               : 36px;
	margin-left          : -12px;
}
	.x-btn-pressed.btn-tool-hover button .x-btn-icon {
		background-image : url("../images/icons/tools-hover-pressed.png") !important;
	}
.x-btn.btn-tool-zoom-selected button .x-btn-icon {
	width      : 35px;
	height               : 35px;
	margin-left          : -17px;
}
.x-btn.btn-tool-measure-line button .x-btn-icon {
	width                : 39px;
	height               : 36px;
	margin-left          : -19px;
}
	.x-btn-pressed.btn-tool-measure-line button .x-btn-icon {
		background-image : url("../images/icons/tools-measure-line-pressed.png") !important;
	}
.x-btn.btn-tool-measure-polygon button .x-btn-icon {
	width                : 44px;
	height               : 35px;
	margin-left          : -22px;
}
	.x-btn-pressed.btn-tool-measure-polygon button .x-btn-icon {
		background-image : url("../images/icons/tools-measure-polygon-pressed.png") !important;
	}
.x-btn.btn-tool-multiple-maps button .x-btn-icon {
	width                : 60px;
	height               : 30px;
	margin-left          : -30px;
}
	.x-btn-pressed.btn-tool-multiple-maps button .x-btn-icon {
		background-image : url("../images/icons/tools-maps-multiple-pressed.png") !important;
	}
.x-btn.btn-tool-save-image button .x-btn-icon {
	width                : 48px;
	height               : 35px;
	margin-left          : -16px;
}

/* Reports */
#app-reports-paging {
	height               : 35px;
}
#app-reports-paging .paging-toolbar {
	padding              : 6px 10px;
	height               : 35px;
	background           : #f5f1ee url("../images/btn-bg.png") repeat-x 0 0;
	border               : none;
}
#app-reports-accordeon {
	overflow             : auto;
}
.paging-toolbar .x-toolbar-text,
.paging-toolbar .x-form-text {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.paging-toolbar .x-tbar-page-first {
	background-image     : url("../images/icons/paging-first.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-first {
	background-image     : url("../images/icons/paging-first-disabled.png") !important;
}
.paging-toolbar .x-tbar-page-last {
	background-image     : url("../images/icons/paging-last.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-last {
	background-image     : url("../images/icons/paging-last-disabled.png") !important;
}
.paging-toolbar .x-tbar-page-prev {
	background-image     : url("../images/icons/paging-prev.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-prev {
	background-image     : url("../images/icons/paging-prev-disabled.png") !important;
}
.paging-toolbar .x-tbar-page-next {
	background-image     : url("../images/icons/paging-next.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-next {
	background-image     : url("../images/icons/paging-next-disabled.png") !important;
}
.paging-toolbar .x-tbar-loading {
	background-image     : url("../images/icons/paging-refresh.png") !important;
}
.paging-toolbar .x-btn:hover, .paging-toolbar .x-btn:focus, .paging-toolbar .x-btn-over, .paging-toolbar .x-btn-focus {
	background           : none;
	border-color         : transparent;
}

.x-panel-header .x-tool img {
	width                : 20px;
	height               : 20px;
	background-repeat    : no-repeat;
	background-position  : 50% 50%;
}
.x-panel-header .x-tool-gear {
	background-image     : url("../images/icons/settings.png") !important;
}
.x-panel-header .x-tool-close {
	background-image     : url("../images/icons/close.png") !important;
}
.x-panel-header .x-tool-help {
	background-image     : url("../images/icons/info.png") !important;
}
.x-panel-header .x-tool-save {
	background-image     : url("../images/icons/save.png") !important;
}
.x-panel-header .x-tool-print {
	background-image     : url("../images/icons/print.png") !important;
}
.x-panel-header .x-tool-search {
	background-image     : url("../images/icons/search.png") !important;
}

.cmptype-grid {
	background-image     : url("../images/icons/grid.png");
}
.cmptype-piechart {
	background-image     : url("../images/icons/graph.png");
}
.cmptype-scatterchart {
	background-image     : url("../images/icons/graph.png");
}
.cmptype-snapshots {
	
}
.cmptype-snapshots {
	
}