.field.year {
	padding-right        : 0;
	margin-right         : 20px;
}
.field.year .widget {
	width                : 170px;
}
#content-application .field.teritory {
    margin-right: 35px;
}
.field.year .widget .x-field .x-form-item-body {
	padding-left         : 10px;
	color                : #c8bfc7;
	font-weight          : bold;
}
.field.year .widget .x-form-cb-checked .x-form-item-body {
	color                : #fff;
}
.field.year .widget .x-field:first-child .x-form-item-body {
	padding-left         : 0;
}
.field.level {
	padding-right        : 3px;
	margin-right         : 10px;
        margin-left          : 21px;   
}
.field.level .label {
	width                : 94px;
}
.field.level .widget {
	width                : 69px;
}
.field.level .widget .button {
	width                : 30px;
	height               : 30px;
	float                : left;
	margin-left          : 5px;
}
.field.level .widget .button:first-child {
	margin-left          : 0;
}
.field.level .x-btn {
	background           : #807e87;
	border               : none;
}
.field.level .x-btn .x-btn-inner {
	color                : #eee;
	font-size            : 25px;
	font-family          : "Courier new", monospace;
}
.field.help .widget {
	width                : 108px;
	line-height          : 30px;
}
.field.help .help-btn {
	display          : inline-block;
	width            : 30px;
	height           : 30px;
	vertical-align   : top;
}
#app-toolbar-contexthelp {
	margin-left      : 42px;
}
#app-toolbar-webhelp {
        margin-left: 2px;
}
.field.help .help-btn .x-btn {
	background       : #807e87;
	border           : none;
	padding          : 0;
}
.field.help .help-btn .x-btn.toggle-active {
	background       : #c92d42;
}
.field.help .help-btn .x-btn .x-btn-inner {
	display          : none;
}
.field.help .help-btn .x-btn .x-btn-icon {
	width            : 30px;
	height           : 30px;
	cursor           : pointer;
}

#app-toolbar-visualization-save,
#app-toolbar-visualization-manage {
	width                : 70px;
	margin-left          : 5px;
	float                : left;
	display              : block;
}
#app-toolbar-visualization-manage {
	width                : 30px;
}
.x-btn.btn-visualization-manage button .x-btn-icon {
	left                 : 7px;
	top                  : 7px;
}
.field.dataview, .field.dataview > .widget {
	display              : block;
	width                : 150px;
}
.x-btn.btn-share button .x-btn-icon {
	left                 : 10px;
}
#app-toolbar-save {
	width                : 110px;
	float                : left;
	margin-top           : 10px;
}
#app-toolbar-manage {
	width                : 30px;
	float                : right;
	margin-top           : 10px;
}
.x-btn.btn-save button .x-btn-icon {
	left                 : 10px;
}
.x-btn.btn-manage button .x-btn-icon {
	left                 : 7px;
	top                  : 7px;
}


/* Sidebar tools */
#app-tools-accordeon {
	overflow             : hidden;
}
	#app-tools-accordeon > .x-container {
		background-color : #e5e3df;
	}
.x-btn.btn-map-select button .x-btn-icon {
	left                 : 8px;
}
.x-btn.btn-snapshot button .x-btn-icon {
	left                 : 14px;
	width                : 20px;
}

.x-btn.btn-map-tool {
	background           : transparent;
}
.x-btn.btn-map-tool:focus, .x-btn.btn-map-tool:hover {
	background           : #eee;
}
.x-btn.btn-map-tool button .x-btn-icon {
	left                 : 50%;
	top                  : 20px;
}
.x-btn.btn-map-tool button .x-btn-inner {
	padding-top          : 60px;
}
	.x-btn-pressed.btn-map-tool button .x-btn-inner {
		color            : #c92d42;
	}
.x-btn.btn-tool-hover button .x-btn-icon {
	width                : 23px;
	height               : 36px;
	margin-left          : -12px;
}
	.x-btn-pressed.btn-tool-hover button .x-btn-icon {
		background-image : url("../images/icons/tools-hover-pressed.png") !important;
	}
.x-btn.btn-tool-zoom-selected button .x-btn-icon {
	width                : 35px;
	height               : 35px;
	margin-left          : -17px;
}
.x-btn.btn-tool-measure-line button .x-btn-icon {
	width                : 39px;
	height               : 36px;
	margin-left          : -19px;
}
	.x-btn-pressed.btn-tool-measure-line button .x-btn-icon {
		background-image : url("../images/icons/tools-measure-line-pressed.png") !important;
	}
.x-btn.btn-tool-measure-polygon button .x-btn-icon {
	width                : 44px;
	height               : 35px;
	margin-left          : -22px;
}
	.x-btn-pressed.btn-tool-measure-polygon button .x-btn-icon {
		background-image : url("../images/icons/tools-measure-polygon-pressed.png") !important;
	}
.x-btn.btn-tool-multiple-maps button .x-btn-icon {
	width                : 60px;
	height               : 30px;
	margin-left          : -30px;
}
	.x-btn-pressed.btn-tool-multiple-maps button .x-btn-icon {
		background-image : url("../images/icons/tools-maps-multiple-pressed.png") !important;
	}
.x-btn.btn-tool-save-image button .x-btn-icon {
	width                : 48px;
	height               : 35px;
	margin-left          : -16px;
}

/* Reports */
#app-reports-paging {
	height               : 30px;
}
#app-reports-paging .paging-toolbar {
	padding              : 4px 10px;
	height               : 30px;
	background           : #f5f1ee url("../images/btn-bg.png") repeat-x 0 0;
	border               : none;
}
#app-reports-accordeon {
	overflow             : auto;
}
#app-reports-paging .x-btn,
#app-reports-paging .x-field {
	height               : auto;
}
.paging-toolbar .x-toolbar-text,
.paging-toolbar .x-form-text {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.paging-toolbar .x-tbar-page-first {
	background-image     : url("../images/icons/paging-first.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-first {
	background-image     : url("../images/icons/paging-first-disabled.png") !important;
}
.paging-toolbar .x-tbar-page-last {
	background-image     : url("../images/icons/paging-last.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-last {
	background-image     : url("../images/icons/paging-last-disabled.png") !important;
}
.paging-toolbar .x-tbar-page-prev {
	background-image     : url("../images/icons/paging-prev.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-prev {
	background-image     : url("../images/icons/paging-prev-disabled.png") !important;
}
.paging-toolbar .x-tbar-page-next {
	background-image     : url("../images/icons/paging-next.png") !important;
}
.paging-toolbar .x-item-disabled .x-tbar-page-next {
	background-image     : url("../images/icons/paging-next-disabled.png") !important;
}
.paging-toolbar .x-tbar-loading {
	background-image     : url("../images/icons/paging-refresh.png") !important;
}
.paging-toolbar .x-btn:hover, .paging-toolbar .x-btn:focus, .paging-toolbar .x-btn-over, .paging-toolbar .x-btn-focus {
	background           : none;
	border-color         : transparent;
}
.paging-toolbar .x-btn.x-btn-pressed,
.paging-toolbar .x-btn.x-btn-pressed:focus,
.paging-toolbar .x-btn.x-btn-pressed.x-btn-over,
.paging-toolbar .x-btn.x-btn-pressed.x-btn-focus {
	border               : 1px solid #888;
	border-bottom-color  : #ccc;
	border-right-color   : #ccc;
	background           : -moz-linear-gradient(center top , #ccc, #ddd);
	background           : -webkit-linear-gradient(center top , #ccc, #ddd);
	background           : linear-gradient(center top , #ccc, #ddd);
}

.x-panel-header .x-tool {
	border               : 1px solid transparent;
	padding              : 0;
}
.x-panel-header .x-tool.tool-active {
	border               : 1px solid #888;
	border-bottom-color  : #aaa;
	border-right-color   : #aaa;
	background           : -moz-linear-gradient(center top , #ccc, #ddd);
	background           : -webkit-linear-gradient(center top , #ccc, #ddd);
	background           : linear-gradient(center top , #ccc, #ddd);
}
.x-panel-header .x-tool img {
	width                : 20px;
	height               : 20px;
	background-repeat    : no-repeat;
	background-position  : 50% 50%;
}
.x-panel-header .x-tool-poweron {
	background-image     : url("../images/icons/power2.png") !important;
}
.x-panel-header .x-tool-refresh {
	background-image     : url("../images/icons/paging-refresh.png") !important;
}
.x-panel-header .x-tool-areacollapse {
	background-image     : url("../images/icons/collapse.gif") !important;
}
.x-panel-header .x-tool-gear {
	background-image     : url("../images/icons/settings.png") !important;
}
.x-panel-header .x-tool-detach {
	background-image     : url("../images/icons/detach.gif") !important;
}
.x-panel-header .x-tool-unselect {
	background-image     : url("../images/icons/unselect.gif") !important;
}
.x-panel-header .x-tool-unselectall {
	background-image     : url("../images/icons/unselect_all.gif") !important;
}
.x-panel-header .x-tool-close {
	background-image     : url("../images/icons/close.png") !important;
}
.x-panel-header .x-tool-help {
	background-image     : url("../images/icons/legend.png") !important;
}
.x-panel-header .x-tool-save {
	background-image     : url("../images/icons/snapshot.png") !important;
}
.x-panel-header .x-tool-print {
	background-image     : url("../images/icons/save.png") !important;
}
.x-panel-header .x-tool-search {
	background-image     : url("../images/icons/search.png") !important;
}

.x-panel-header .x-tool-collapse {
	background-image     : url("../images/icons/save-csv.png") !important;
}

.cmptype-grid, .cmptype-piechart, .cmptype-scatterchart, .cmptype-snapshot, .cmptype-addchart, .cmptype-columnchart, .cmptype-extentoutline {
	width                : 17px;
}
.cmptype-grid {
	background-image     : url("../images/icons/grid.png");
}
.cmptype-piechart {
	background-image     : url("../images/icons/graph.png");
}
.cmptype-scatterchart {
	background-image     : url("../images/icons/graph.png");
}
.cmptype-columnchart {
	background-image     : url("../images/icons/graph.png");
}
.cmptype-snapshot {
	background-image     : url("../images/icons/snapshots.png");
}
.cmptype-extentoutline {
	background-image     : url("../images/icons/graph.png");
}
.cmptype-addchart {
	background-image     : url("../images/icons/add.png");
}

.tools-colorpicker {
	padding              : 10px;
}
.tools-filters-list {
/*	padding              : 0 10px;*/
}
.tools-filters-list .x-vbox-form-item {
	height               : auto;
}
.tools-filters-list .x-form-display-field {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	font-weight          : bold;
}

.urlwindow {
	padding              : 10px;
}
.manageDwWindow .x-grid {
	margin-top           : 0;
	border               : none;
}

.screenshot .screenshotenlarge, .screenshot.x-item-selected .screenshotenlarge {
	display: none;
}
.screenshotover .screenshotenlarge {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -18px;
	margin-top: -18px;
}

.layertools {
	padding: 10px 0;
}
.layertools .layertool {
	display: inline-block;
	border: 1px solid #7f7c85;
	border-top-color: #b6b4ba;
	border-left-color: #b6b4ba;
	border-radius: 3px;
	height: 22px;
	vertical-align: middle;
	width: 90px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background-color: #eee;
	background-image: -moz-linear-gradient(top center, #fff 0%, #eee 100%);
	background-image: -webkit-linear-gradient(top center, #fff 0%, #eee 100%);
	background-image: -ms-linear-gradient(top center, #fff 0%, #eee 100%);
	background-image: linear-gradient(top center, #fff 0%, #eee 100%);
}
.layertools .layertool:hover {
	background-color: #ddd;
	background-image: -moz-linear-gradient(top center, #eee 0%, #ddd 100%);
	background-image: -webkit-linear-gradient(top center, #eee 0%, #ddd 100%);
	background-image: -ms-linear-gradient(top center, #eee 0%, #ddd 100%);
	background-image: linear-gradient(top center, #eee 0%, #ddd 100%);
}
.layertools .layertool.checked {
	border: 1px solid #b6b4ba;
	border-top-color: #7f7c85;
	border-left-color: #7f7c85;
	background: #eee;
}
.layertools .layertool img {
	margin-right: 5px;
	margin-left: 2px;
	margin-top: 2px;
}
.layertools .layertool span {
	vertical-align: top;
	display: inline-block;
	height: 20px;
	line-height: 18px;
	text-shadow: 0 1px 1px #fff;
}

#sidebar-tools-colors .label {
	background: #e5e0db url("../images/accordeon-h-bg.png") repeat-x 0 0;
	padding: 7px 10px;
	font-weight: bold;
}
#sidebar-tools-colors .contents {
	background-color: #fff;
	padding: 5px 10px;
	position: relative;
}
#sidebar-tools-colors #app-tools-colors {
	height: 20px;
	width: 170px;
}
#app-tools-colors-unselect {
	font-family: "Open sans";
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
	color: #666;
	text-decoration: underline;
}
#app-tools-colors-unselect:hover {
	text-decoration: none;
}

.x-color-picker em span {
	width: 12px;
	height: 12px;
}

.metadata {
	margin: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-family: "Open sans";
}
.metadata p {
	margin-bottom: 5px;
	font-size: 13px;
}
.metadata .title {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}
.metadata a {
	color: #069;
}

/* Slider */
.x-slider-horz, .x-slider-horz .x-slider-end, .x-slider-horz .x-slider-inner {
	background-image: url("../images/panther-slider-bg.png");
}
.yearselector .x-slider-horz,.yearselector .x-slider-horz .x-slider-end,.yearselector .x-slider-horz .x-slider-inner {
	background-image: url("../images/panther-slider-bg-2.png");
}
.x-slider-horz {
	background-position: 0 -24px;
}
.x-slider-horz .x-slider-end {
	background-position: 100% -46px;
}
.x-slider-horz .x-slider-inner {
	background-position: 0 -2px;
}
.x-slider-horz .x-slider-thumb {
	background-image: url("../images/panther-slider-thumb.png");
}
.yearselector .x-slider-horz .x-slider-thumb {
	background-image: url("../images/panther-slider-thumb-2.png");
}
.slider-thumb-label,
.slider-constraints {
	font-family: "Open Sans";
	font-size: 11px;
	color: #666572;
}
.slider-thumb-label.sliding {
	color: #c92d42;
}
.slider-constraint-min {
	padding-left: 3px;
}