/* QUICKTIPS */
#ext-quicktips-tip-body.x-tip-body {
    background-color: white ! important;
    font-family          : "Open Sans", sans-serif;
    font-size            : 12px;
    line-height: 17px;
    padding: 8px;
}
#ext-quicktips-tip.x-tip {
    webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    opacity: 0.9
}



/* BUTTONS */
.x-btn {
	height               : 30px;
	
	-webkit-border-radius       : 0;
	   -moz-border-radius       : 0;
	        border-radius       : 0;
}
.x-btn .x-btn-inner {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.x-btn.custom-button {
	background           : #f5f1ee url("../images/btn-bg.png") repeat-x 0 0;
	border               : none;
	padding              : 0;
}
.x-btn.custom-button:hover, .x-btn.custom-button:focus {
	background           : #eee url("../images/btn-bg-hover.png") repeat-x 0 0;
}
.x-btn.custom-button.toggle-active {
	background           : #fff;
}
.x-btn.custom-button.toggle-active .x-btn-inner {
	color                : #c92d42;
}
.x-btn.custom-button em {
	font-style           : normal;
}
.x-btn.custom-button button {}
.x-btn.custom-button .x-btn-inner {
	font-weight          : bold;
}
/* Red button */
.x-btn.custom-button.btn-confirm {
	background           : #c92d42;
}
.x-btn.custom-button.btn-confirm .x-btn-inner {
	color                : #fff;
}
.x-btn.custom-button.btn-confirm:hover, .x-btn.btn-confirm:focus {
	background           : #ad2738;
}

/* FIELDSET */
.x-fieldset {
	margin-top           : 10px;
}
.x-fieldset-header {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	padding              : 3px 3px 0px 3px;
}

/* FIELDS */
.x-field {
	height               : 30px;
}
.x-form-field, .x-form-display-field {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.x-border-box .x-form-text {
	height               : 30px;
	color                : #000;
	background           : #fff;
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	padding              : 5px;
	border               : 1px solid #999;
}
.x-border-box .x-form-trigger {
	height               : 30px;
	width                : 30px;
	background           : #ddd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIhJREFUeNpidHYKYWZgYJgDxLuBeBkDJogCYlcgTmEBEvOBOBaKGdA0gBQuAmKQgcxMQGIHEP+FCiyCKkBXCJLfwYJk0iIkDTZAnIakMA6kjgXJamaok0B0JlQcpDARZiATkvsWQyX+oilcDFPAhObzxVArf0HpxciSLFiCCmTlESB+hC4BEGAAZXUd8tVZG3gAAAAASUVORK5CYII=) no-repeat 50% 50%;
	border               : 1px solid #999;
	border-left          : none;
}

.x-border-box .x-form-trigger.x-form-refresh-trigger {
	background           : #ddd url("../images/icons/paging-refresh2.png") no-repeat 50% 50%;
        background-size: 16px 16px;
}

.x-border-box .x-form-trigger.x-form-spinner-down, .x-border-box .x-form-trigger.x-form-spinner-up{
    height: 15px ! important;
    width: 30px ! important;
}
.x-border-box .x-form-trigger.x-form-spinner-up {
    background           : #ddd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAABGdBTUEAALGPC/xhBQAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90JEAkUOtgOpdcAAABySURBVBjTfcvBCQIxEAXQp7tYhsUowhbgKRBBsCePQg424dUuvNmH4GUCIUTn8meG91f73dFgtnj3z/UAJrwi/+KMgk1k/oUzbpjinuLOPU4N/OAaWQsJ5lhKA0+449n8S8XLAGqyFpYZ54CPBugKB1y+PK8ZAZvCJxQAAAAASUVORK5CYII=) no-repeat 50% 50%;
}



.x-border-box .custom-combo .x-form-text {
	color                : #fff;
	background           : #666470;
	border-color         : transparent;
}
.x-border-box .custom-combo .x-form-trigger {
	background-color     : #7f7c85;
	border-color         : transparent;
}

/* COMBO LIST */
.x-boundlist .x-boundlist-item {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	border               : none;
	border-top           : 1px solid #fff;
	padding              : 5px;
}
.x-boundlist .x-boundlist-item:first-child {
	border-top           : none;
}
.x-boundlist .x-boundlist-item:hover,
.x-boundlist .x-boundlist-item-over {
	background           : #eee;
}
.x-boundlist.custom-combo-list {
	border               : none;
}
.x-boundlist.custom-combo-list .x-boundlist-item {
	background           : #b7b5bb;
	color                : #424451;
}
.x-boundlist.custom-combo-list .x-boundlist-item:hover,
.x-boundlist.custom-combo-list .x-boundlist-item-over {
	background           : #a4a0a9;
}

.x-form-item {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}

/* CHECKBOX/RADIO */
.x-form-checkbox, .x-form-radio,
.x-tree-checkbox {
	background           : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK1JREFUeNqcktENwzAIRLlrRvH+k0SZILtcTQzErvqRFilCyDxzh4N9362H7Hlgc6C19pg4z1O0P2K75gFRukpUqvwVYjZ67p/PlwaA4PUBEbwHVF5HAPe6BsRxpUJPVcKVAzNRM/QKOYhGVymjS4VKGsNgQOwHYwq9qcPUyLDYzcVrXQSUHjgkJVDi0litnFmXLwt3XqczrNvDdCOmR8p6fS6HcBzHT//eW4ABANYUPUULbtCwAAAAAElFTkSuQmCC) no-repeat 0 0;
}
.x-form-cb-checked .x-form-checkbox, .x-form-cb-checked .x-form-radio,
.x-tree-checkbox-checked {
	background-image     : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANRJREFUeNqcUlEOgzAI5aHOxLnGQ3j/kxhP4DXcdLp0hWJn/7Y9Y4DyHqW0GIaBAjx9D5Qi6Pv+a8U0TZ7pD6gIgP3mEzLbdV3iCEoVMeKpZNEjlvJhIbjOOToKZzsxmJiZ3M0FGytqbALlhFh4HxFHkqBtW/XFHrjPswpQnNpjLmI7hmvTJH9ZHinFlIk4JDyt65Pq+pIEEivNjgpTp0HAxyrbtlNVlcFu+Y2SDSqJpF8bjg/f/tqNCI2jNWFq7zROaArpZcGoOO0qIozj+NPbewswAIIRNygqSIUpAAAAAElFTkSuQmCC);
	background-position  : 0 0;
}
.x-form-cb-checked .x-form-cb-focus {
	background-position  : 0 0;
}

/* ACCORDEON */
.x-accordion-hd {
	padding-left         : 6px;
	padding-right        : 6px;
	border               : none;
	background           : #e5e0db url("../images/accordeon-h-bg.png") repeat-x 0 0 !important;
}
.x-accordion-hd:hover {
	background: #d7d0c8 !important;
}
.x-accordion-hd, .x-accordion-hd .x-panel-header-text {
	cursor               : pointer;
}
.x-accordion-hd .x-panel-header-text {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	font-weight          : bold;
}

div .x-tool-expand-top, div .x-tool-expand-right, div .x-tool-expand-bottom, div .x-tool-expand-left {
	background           : url("../images/icons/expand.png") no-repeat 50% 50%;
}
div .x-tool-over .x-tool-expand-top, div .x-tool-over .x-tool-expand-right, div .x-tool-over .x-tool-expand-bottom, div .x-tool-over .x-tool-expand-left {
	background           : url("../images/icons/expand.png") no-repeat 50% 50%;
}
div .x-tool-collapse-top, div .x-tool-collapse-right, div .x-tool-collapse-bottom, div .x-tool-collapse-left {
	background           : url("../images/icons/collapse.png") no-repeat 50% 50%;
}
div .x-tool-over .x-tool-collapse-top, div .x-tool-over .x-tool-collapse-right, div .x-tool-over .x-tool-collapse-bottom, div .x-tool-over .x-tool-collapse-left {
	background           : url("../images/icons/collapse.png") no-repeat 50% 50%;
}
div .x-tool-collapse-top, div .x-tool-collapse-right, div .x-tool-collapse-bottom, div .x-tool-collapse-left {
	background           : url("../images/icons/collapse.png") no-repeat 50% 50%;
}
div .x-tool-over .x-tool-collapse-top, div .x-tool-over .x-tool-collapse-right, div .x-tool-over .x-tool-collapse-bottom, div .x-tool-over .x-tool-collapse-left {
	background           : url("../images/icons/collapse.png") no-repeat 50% 50%;
}

/* TABS */
.x-border-box .x-tab-bar {
	background           : none;
}
.x-border-box .x-tab-bar-top .x-tab-bar-body {
	height               : 30px;
}
.x-border-box .x-tab-default-top {
	height               : 30px;
	background           : #f4f0ec url("../images/tab-bg.png") repeat-x 0 0;
	border               : none;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
}
.x-border-box .x-tab-default-top .x-tab-inner {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.x-border-box .x-tab-top-active {
	background-image     : url("../images/tab-selected-bg.png");
}
.x-tab-bar-top .x-tab-bar-strip {
	top                  : 35px;
}

/* WINDOW */
.x-window-default {
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
	background: #e6e1dc url("../images/window-bg.png") repeat-x 0 0;
}
.x-window-header-default-top {
	-webkit-box-shadow   : none;
	-moz-box-shadow      : none;
	box-shadow           : none;
	background           : none;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
}
.x-window-header-text-default {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.x-window-header-default-top .x-tool .x-tool-close {
	background           : url("../images/icons/close.png") no-repeat 50% 50%;
}
.x-window-body-default {
	background           : #fff;
	border               : 1px solid #aaa;
}
.x-panel-default-framed, .x-panel-body-default-framed {
	background           : none;
	border               : none;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
	padding              : 0;
}
.x-panel-body-default-framed {
	padding              : 5px;
}
.x-toolbar-footer.x-docked-bottom {
	border-top           : 1px solid #aaa !important;
	padding              : 5px;
	background           : #eee;
}
.x-window .x-grid {
	margin-top           : 20px;
	border               : 1px solid #aaa;
}
.x-window .x-grid .x-toolbar-default.x-docked-top {
	background           : #eee;
	border-bottom        : 1px solid #aaa !important;
}

.x-column-header, .x-grid-row .x-grid-cell {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}
.x-column-header-inner {
	line-height          : 20px;
}
.x-column-header-over, .x-column-header-sort-ASC, .x-column-header-sort-DESC {
	background-image     : -webkit-linear-gradient(center top , #F9F9F9, #E3E4E6);
	background-image     : -moz-linear-gradient(center top , #F9F9F9, #E3E4E6);
	background-image     : linear-gradient(center top , #F9F9F9, #E3E4E6);
}
.x-column-header-inner .x-grid-checkheader {
	margin-top           : 4px;
}

/* TREE */
.x-tree-icon-parent {
	background-image     : url("../images/icons/tree-node-closed.png");
	background-repeat     : no-repeat;
}
.x-grid-tree-node-expanded .x-tree-icon-parent {
	background-image     : url("../images/icons/tree-node-opened.png");
}
.x-tree-icon-leaf {
	background-image     : url("../images/icons/tree-node-item.png");
	background-repeat     : no-repeat;
}
.layerpanel .x-tree-icon-leaf {
	background-image     : url("../images/icons/info.png");
	background-repeat     : no-repeat;
        visibility: hidden
}
.layerpanel .has-metadata .x-tree-icon-leaf {
	visibility: visible;
}

.x-tree-lines .x-tree-elbow-plus, .x-tree-lines .x-tree-elbow-end-plus,
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus, .x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus,
.x-tree-lines .x-tree-elbow, .x-tree-lines .x-tree-elbow-end, .x-tree-lines .x-tree-elbow-line {
	width                : 18px;
	height               : 18px;
	margin-right         : 5px;
}
.x-tree-lines .x-tree-elbow-plus, .x-tree-lines .x-tree-elbow-end-plus {
	background-image     : url("../images/icons/tree-node-expand.png");
}
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus, .x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus {
	background-image     : url("../images/icons/tree-node-collapse.png");
}
.x-tree-lines .x-tree-elbow, .x-tree-lines .x-tree-elbow-end, .x-tree-lines .x-tree-elbow-line {
	background-image     : none;
}
.x-tree-lines .x-grid-tree-node-leaf .x-tree-elbow,
.x-tree-lines .x-grid-tree-node-leaf .x-tree-elbow-end,
.x-tree-lines .x-grid-tree-node-leaf .x-tree-elbow-line {
	width: 12px;
}
.layerpanel .x-tree-lines .x-grid-tree-node-leaf .x-tree-elbow,
.layerpanel .x-tree-lines .x-grid-tree-node-leaf .x-tree-elbow-end,
.layerpanel .x-tree-lines .x-grid-tree-node-leaf .x-tree-elbow-line {
	width: 6px;
}


.x-grid-row-over .x-grid-cell, .x-grid-row-over .x-grid-rowwrap-div,
.x-grid-row-focused .x-grid-cell, .x-grid-row-focused .x-grid-rowwrap-div {
	background-color     : #ddd;
}

/* GRID EXPANDER */
.x-grid-row-expander {
	width                : 18px;
	height               : 18px;
	margin-left          : -1px;
	background           : url("../images/icons/tree-node-collapse.png") no-repeat 0 0;
}
.x-grid-row-collapsed .x-grid-row-expander {
	background-image     : url("../images/icons/tree-node-expand.png");
}
.layers-selected .x-grid-row-over .x-grid-cell, .layers-selected .x-grid-row-over .x-grid-rowwrap-div,
.layers-selected .x-grid-row-focused .x-grid-cell, .layers-selected .x-grid-row-focused .x-grid-rowwrap-div {
	background-color     : #fff !important;
	border-right         : none;
}
.layers-selected .x-grid-row .x-grid-cell-special {
	background           : none;
	border-right         : none;
}
.layers-selected .x-grid-checkheader {
	background           : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK1JREFUeNqcktENwzAIRLlrRvH+k0SZILtcTQzErvqRFilCyDxzh4N9362H7Hlgc6C19pg4z1O0P2K75gFRukpUqvwVYjZ67p/PlwaA4PUBEbwHVF5HAPe6BsRxpUJPVcKVAzNRM/QKOYhGVymjS4VKGsNgQOwHYwq9qcPUyLDYzcVrXQSUHjgkJVDi0litnFmXLwt3XqczrNvDdCOmR8p6fS6HcBzHT//eW4ABANYUPUULbtCwAAAAAElFTkSuQmCC) no-repeat 0 0;
}
.layers-selected .x-grid-checkheader-checked {
	background           : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANRJREFUeNqcUlEOgzAI5aHOxLnGQ3j/kxhP4DXcdLp0hWJn/7Y9Y4DyHqW0GIaBAjx9D5Qi6Pv+a8U0TZ7pD6gIgP3mEzLbdV3iCEoVMeKpZNEjlvJhIbjOOToKZzsxmJiZ3M0FGytqbALlhFh4HxFHkqBtW/XFHrjPswpQnNpjLmI7hmvTJH9ZHinFlIk4JDyt65Pq+pIEEivNjgpTp0HAxyrbtlNVlcFu+Y2SDSqJpF8bjg/f/tqNCI2jNWFq7zROaArpZcGoOO0qIozj+NPbewswAIIRNygqSIUpAAAAAElFTkSuQmCC) no-repeat 0 0;
}
