/* BUTTONS */
.x-btn {
	background-color     : #d6d3d0;
	background-image     : -webkit-linear-gradient(center top, #d6d3d0 0%, #f6f2ee 100%);
	background-image     : -moz-linear-gradient(center top, #d6d3d0 0%, #f6f2ee 100%);
	background-image     : linear-gradient(center top, #d6d3d0 0%, #f6f2ee 100%);
	border               : none;
	padding              : 0;
	
	-webkit-border-radius       : 0;
	   -moz-border-radius       : 0;
	        border-radius       : 0;
}
.x-btn:hover, .x-btn:focus {
	background-color     : #aaa;
	background-image     : -webkit-linear-gradient(center top, #aaa 0%, #eee 100%);
	background-image     : -moz-linear-gradient(center top, #aaa 0%, #eee 100%);
	background-image     : linear-gradient(center top, #aaa 0%, #eee 100%);
}
.x-btn em {}
.x-btn button {}
.x-btn .x-btn-inner {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	font-weight          : bold;
}
/* Red button */
.x-btn.btn-confirm {
	background           : #c92d42;
}
.x-btn.btn-confirm .x-btn-inner {
	color                : #fff;
}
.x-btn.btn-confirm:hover, .x-btn.btn-confirm:focus {
	background           : #ad2738;
}

/* FIELDS */
.x-field {
	height               : 30px;
}
.x-border-box .x-form-text {
	height               : 30px;
	border               : none;
	background           : #666470;
	color                : #fff;
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	padding              : 5px;
}
.x-border-box .x-form-trigger {
	height               : 30px;
	width                : 30px;
	background           : #7f7c85 url("../images/combo-arrow.png") no-repeat 50% 50%;
	border               : none;
}

/* COMBO LIST */
.x-boundlist {
	border               : none;
}
.x-boundlist .x-boundlist-item {
	background           : #b7b5bb;
	color                : #424451;
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	border               : none;
	border-top           : 1px solid #fff;
	padding              : 5px;
}
.x-boundlist .x-boundlist-item:first-child {
	border-top           : none;
}
.x-boundlist .x-boundlist-item:hover,
.x-boundlist .x-boundlist-item-over {
	background           : #a4a0a9;
}

.x-form-item {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
}