/* BASICS */
html, body {
	height               : 100%;
	width                : 100%;
}
body {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	background           : #e5e3df url("../images/loading.gif") no-repeat 50% 50%;
}
body.application {
	background-image     : none;
}
a {
	text-decoration      : none;
	color                : #999;
}
a:hover, a:focus {
	text-decoration      : underline;
}
strong {
	font-weight          : bold;
}

/* LAYOUT */
	#main {
		width            : 100%;
		height           : 100%;
		padding          : 40px 0;
	}
	body.application #main {
		padding-top      : 130px;
	}
	
	/* Maps */
	#map-holder .map {
		width            : 100%;
		height           : 100%;
		overflow         : hidden;
	}
	#app-map2 {
		display          : none;
	}
	#map-holder.split .map {
		width            : 50%;
	}
	#map-holder.split #app-map2 {
		display          : block;
	}
	
	/* Header */
	#header {
		height           : 40px;
		line-height      : 40px;
		background-color : #333;
		color            : #999;
		font-weight      : bold;
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 100%;
		text-align       : center;
	}
	#header a {
		padding          : 0 10px;
		display          : inline-block;
	}
	#header a:hover, #header a:focus {
		text-decoration  : none;
		color            : #fff;
	}
	
	#header .home {
		height           : 40px;
		position         : absolute;
		left             : 0;
		top              : 0;
		background-color : #3b3b44;
		color            : #bebdc9;
		font-size        : 22px;
	}
	#header .home:hover, #header .home:focus {
		color            : #bebdc9;
	}
	
	#header .menu {
		display          : inline-block;
		font-size        : 14px;
	}
	#header .menu li {
		float            : left;
	}
	#header .menu li a {
		padding          : 0 20px;
	}
	
	#header .user {
		position         : absolute;
		top              : 0;
		right            : 0;
		background-color : #3b3b44;
		color            : #bebdc9;
		text-transform   : uppercase;
	}
	#header .user .sep {
		display          : inline-block;
		height           : 12px;
		width            : 1px;
		background-color : #6f6e75;
		position         : relative;
		top              : 1px;
	}
	#header .user .login {
		display          : inline-block;
		background       : url("../images/icons/user.png") no-repeat 10px 50%;
		padding-left     : 35px;
	}
	
	/* Content */
	.map {
		width            : 100%;
		height           : 100%;
	}
	#content-intro, #content-application {
		display          : none;
		position         : absolute;
		z-index          : 10000;
	}
	body.intro #content-intro, body.application #content-application {
		display          : block;
	}
		/* Fields */
		.fields-holder {
			background-color : #434254;
			color            : #fff;
		}
		.fields-holder > .label {
			width            : 300px;
			height           : 69px;
			padding-left     : 81px;
			background       : url("../images/puma-square.png") no-repeat 0 8px;
			line-height      : 38px;
			font-size        : 30px;
			font-weight      : 800;
			float            : left;
			text-transform   : uppercase;
		}
		.fields-holder > .fields {
			float            : left;
			margin-left      : 10px;
		}
		.fields-holder .group {
			width            : 245px;
			float            : left;
			margin-left      : 5px;
		}
		.fields-holder .group:first-child {
			margin-left      : 0;
		}
		.fields-holder .field {
			height           : 30px;
			display          : inline-table;
			margin-top       : 10px;
		}
		.fields-holder .field:first-child {
			margin-top       : 0;
		}
		.fields-holder .field > .label {
			display          : table-cell;
			text-align       : right;
			vertical-align   : middle;
			padding-right    : 10px;
			color            : #c8bfc7;
			font-weight      : bold;
			width            : 70px;
		}
		.fields-holder .field > .widget {
			display          : table-cell;
			vertical-align   : middle;
			width            : 163px;
			height           : 30px;
			line-height      : 30px;
		}
		.fields-holder .field > .widget .x-btn,
		.fields-holder .field > .widget .x-field {
			vertical-align   : top;
		}
		
		/* Intro */
		#content-intro {
			background-color : #434254;
			background-color : rgba(67, 66, 84, .9);
			color            : #fff;
			top              : 125px;
			padding          : 20px;
			width            : 845px;
		}
		
		/* Application */
		#content-application {
			top              : 40px;
			width            : 100%;
		}
		#toolbar {
			width            : 100%;
			height           : 90px;
			background-color : #434254;
			position         : absolute;
			top              : 0;
			left             : 0;
			padding-left     : 15px;
		}
		#toolbar > .label {
			margin-top       : 5px;
			padding-top      : 8px;
			line-height      : 30px;
			font-size        : 24px;
			width            : 250px;
		}
		#toolbar .group {
			float            : none;
			width            : 820px;
			margin           : 0;
		}
		#toolbar .group .field {
			vertical-align   : middle;
			margin-top       : 10px;
		}
		#toolbar .group .field.with-sep {
			background       : url("../images/toolbar-group-border.png") repeat-y 100% 0;
		}
		
		#toolbar .dataview {
			position         : absolute;
			top              : 10px;
			right            : 10px;
			width            : 150px;
			margin-top       : 0;
		}
		#toolbar .help a {
			display          : inline-block;
			background       : url("../images/icons/help.png") no-repeat 0 50%;
			padding-left     : 20px;
		}
		
		/* Sidebar tools */
		#sidebar-tools {
			background   : #e5e3df;
			position     : absolute;
			top          : 90px;
			left         : 0;
			width        : 250px;
		}
		#app-tools-actions {
			height       : 35px;
		}
		
		/* Sidebar reports */
		#sidebar-reports {
			background   : #e5e3df url("../images/loading.gif") no-repeat 50% 50%;
			position     : absolute;
			top          : 90px;
			width        : 580px;
		}
			body.intro #sidebar-reports, body.application #sidebar-reports.hidden {
				right    : -580px;
			}
			body.application #sidebar-reports {
				right    : 0;
			}
		#sidebar-reports-toggle {
			display      : block;
			width        : 21px;
			height       : 35px;
			background   : url("../images/sidebar-toggle-sprite.png") no-repeat 0 0;
			position     : absolute;
			left         : -21px;
			top          : 0;
			cursor       : pointer;
		}
		#sidebar-reports.hidden #sidebar-reports-toggle {
			background-position : -21px 0;
		}
		
	/* Footer */
	#footer {
		height           : 40px;
		line-height      : 40px;
		background-color : #333;
		color            : #999;
		width            : 100%;
		position         : absolute;
		bottom           : 0;
		left             : 0;
		padding          : 0 10px;
		z-index          : 10000;
	}
	#footer a {
		text-decoration  : underline;
	}
	#footer a:hover, #footer a:focus {
		color            : #fff;
	}
	#footer .label {
		font-weight      : 800;
		font-size        : 18px;
	}
	#footer .contact {
		display          : inline-block;
		margin-left      : 45px;
	}
	#footer .copyright {
		float            : right;
	}
	