/* BASICS */
html, body {
	height               : 100%;
	width                : 100%;
}
body, body.x-body {
	font-family          : "Open Sans", sans-serif;
	font-size            : 12px;
	background           : #e5e3df url("../images/loading.gif") no-repeat 50% 50%;
}
body.application {
	background-image     : none;
}
a {
	text-decoration      : none;
	color                : #999;
}
a:hover, a:focus {
	text-decoration      : underline;
}
strong {
	font-weight          : bold;
}

#loading-mask-shim, #loading-mask {
	display              : none;
	position             : absolute;
	z-index              : 1000000;
	top                  : 0;
	left                 : 0;
	width                : 100%;
	height               : 100%;
}
#loading-mask-shim {
	background           : #666;
	opacity              : .5;
	filter               : Alpha(opacity=50);
}
#loading-mask {
	background           : url("../images/loading-mask.gif") no-repeat 50% 50%;
/*        background           : url("../images/loading.gif") no-repeat 50% 50%;*/
}

/* LAYOUT */
	#main {
		width            : 100%;
		height           : 100%;
		padding          : 70px 0;
	}
	body.application #main {
		padding-top      : 160px;
	}
	
	/* Maps */
	#map-holder .map {
		width            : 100%;
		height           : 100%;
		overflow         : hidden;
	}
	#map-holder .map .map-label {
		display          : none;
	}
	#map-holder #app-map2 {
		display          : none;
	}
	#map-holder.split .map {
		-webkit-box-sizing : border-box;
		-moz-box-sizing    : border-box;
		box-sizing         : border-box;
		width            : 50%;
		float            : left;
		border-right     : 1px solid #333;
	}
	#map-holder.split #app-map2 {
		display          : block;
		float            : right;
		border-left      : 1px solid #333;
		border-right     : 0;
	}
	#map-holder.split .map .map-label {
		display          : block;
	}
	
	/* Header */
	#header {
		height           : 70px;
		line-height      : 70px;
		background       : #e5e3df url("../images/banner_double.png") repeat-x 0% 0%;
                background-size  : 100% 100%;
		color            : #fff;
                font-stretch     : expanded;
                font-size:       32px;
                font-family: arial;
                letter-spacing: 5px;
                text-shadow: 4px 4px #444;
		font-weight      : bold;
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 100%;
		text-align       : center;
	}
	#header a {
		padding          : 0 10px;
		display          : inline-block;
	}
	#header a:hover, #header a:focus {
		text-decoration  : none;
		color            : #fff;
	}
	
	#header .home {
		height           : 120px;
		position         : absolute;
		left             : 0;
		top              : 0;
		background-color : #3b3b44;
		color            : #bebdc9;
		font-size        : 22px;
	}
	#header .home:hover, #header .home:focus {
		color            : #bebdc9;
	}
	
	#header .menu {
		display          : inline-block;
		font-size        : 14px;
	}
	#header .menu li {
		float            : left;
	}
	#header .menu li a {
		padding          : 0 20px;
	}
	
	#header .user {
		position         : absolute;
		top              : 0;
		right            : 0;
		background-color : #3b3b44;
		color            : #bebdc9;
		text-transform   : uppercase;
	}
	#header .user .sep {
		display          : inline-block;
		height           : 12px;
		width            : 1px;
		background-color : #6f6e75;
		position         : relative;
		top              : 1px;
	}
	#header .user .login {
		display          : inline-block;
		background       : url("../images/icons/user.png") no-repeat 10px 50%;
		padding-left     : 35px;
	}
	
	/* Content */
	.map {
		width            : 100%;
		height           : 100%;
		position         : relative;
	}
	.map .map-label {
		-webkit-box-shadow : 0 0 2px rgba(0, 0, 0, .7);
		-ms-box-shadow     : 0 0 2px rgba(0, 0, 0, .7);
		box-shadow         : 0 0 2px rgba(0, 0, 0, .7);
		position         : absolute;
		top              : 5px;
		right            : 5px;
		border-radius    : 3px;
		background       : #fff;
		padding          : 2px 5px;
		z-index          : 1000;
		color            : #666;
		font-family      : "Open sans";
		font-size        : 12px;
		font-weight      : bold;
	}
	#app-map2.map .map-label {
		right            : auto;
		left             : 5px;
	}
	.map .cursor {
		width            : 10px;
		position         : absolute;
		z-index          : 10000;
	}
	#content-intro, #content-intro-guide, #content-application {
		display          : none;
		position         : absolute;
		z-index          : 10000;
	}
	body.intro #content-intro, body.intro #content-intro-guide, body.application #content-application {
		display          : block;
	}
		/* Fields */
		.fields-holder {
			background-color : #434254;
			color            : #fff;
		}
		.fields-holder > .label {
			width            : 300px;
			height           : 69px;
			padding-left     : 81px;
                        color: #fff;
/*			background       : url("../images/puma-logo.png") no-repeat 0 8px;*/
			line-height      : 38px;
			font-size        : 30px;
			font-weight      : 800;
			float            : left;
			text-transform   : uppercase;
		}
		.fields-holder > .fields {
			float            : left;
			margin-left      : 10px;
		}
		.fields-holder .group {
			width            : 245px;
			float            : left;
			margin-left      : 5px;
		}
		.fields-holder .group:first-child {
			margin-left      : 0;
		}
		.fields-holder .field {
			height           : 30px;
			display          : inline-table;
			margin-top       : 10px;
		}
		.fields-holder .field:first-child {
			margin-top       : 0;
		}
		.fields-holder .field > .label {
			display          : table-cell;
			text-align       : right;
			vertical-align   : middle;
			padding-right    : 10px;
			color            : #fff;
			font-weight      : bold;
			font-size        : 12px;
			width            : 70px;
		}
		.fields-holder .field > .widget {
			display          : table-cell;
			vertical-align   : middle;
			width            : 150px;
			height           : 30px;
			line-height      : 30px;
		}
		.fields-holder .field > .widget .x-btn,
		.fields-holder .field > .widget .x-field {
			vertical-align   : top;
		}
		
		/* Intro */
		#content-intro {
                        background-color : #003399;
			background-color : rgba(0, 51, 153, .7);
			color            : #fff;
			top              : 140px;
			padding          : 20px;
			width            : 845px;
		}
		#content-intro-guide {
			font-family      : "Open Sans", sans-serif !important;
			font-size        : 12px;
			background-color : #3c3b38;
			background-color : rgba(0, 51, 153, .7);
			color            : #fff;
			top              : 140px;
			right            : 0;
			padding          : 15px 20px;
			width            : 250px;
		}
		#content-intro-guide h2 {
			font-size        : 24px;
			font-weight      : 800;
			margin-top       : 0;
			border-bottom    : 1px solid #fff;
			margin-bottom    : 10px;
		}
		#content-intro-guide h3 {
			font-size        : 14px;
		}
		#content-intro-guide p {
			margin-bottom    : 10px;
		}
		
		/* Application */
		#content-application {
			top              : 70px;
			width            : 100%;
		}
		#toolbar {
			width            : 100%;
			height           : 90px;
			background-color : #003399;
			position         : absolute;
			top              : 0;
			left             : 0;
			padding-left     : 15px;
		}
		#toolbar > .label {
			margin-top       : 5px;
			padding-top      : 8px;
			line-height      : 30px;
			font-size        : 24px;
			width            : 250px;
		}
		#toolbar .group {
			float            : none;
			width            : 820px;
			margin           : 0;
		}
		#toolbar .group .field {
			vertical-align   : middle;
			margin-top       : 10px;
		}
		#toolbar .group .field.with-sep {
			background       : url("../images/toolbar-group-border.png") repeat-y 100% 0;
		}
		
		#toolbar .dataview {
			position         : absolute;
			top              : 10px;
			right            : 10px;
			width            : 150px;
			margin-top       : 0;
		}
		
		/* Sidebar tools */
		#sidebar-tools {
			position     : absolute;
			top          : 90px;
			left         : 0;
			width        : 250px;
		}
			#sidebar-tools.hidden {
				left     : -250px;
			}
		#app-tools-actions {
			height       : 30px;
		}
		
		/* Sidebar reports */
		#sidebar-reports {
			background   : #e5e3df;
			position     : absolute;
			top          : 90px;
			width        : 580px;
		}
			body.intro #sidebar-reports, body.application #sidebar-reports.hidden {
				right    : -580px;
			}
			body.application #sidebar-reports {
				right    : 0;
			}
		
		/* Sidebar toggles */
		#sidebar-tools-toggle,
		#sidebar-reports-toggle {
			display             : block;
			width               : 21px;
			height              : 30px;
			background-image    : url("../images/sidebar-toggle-sprite.png");
			background-repeat   : no-repeat;
			background-position : 0 -2px;
			position            : absolute;
			left                : -21px;
			top                 : 0;
			cursor              : pointer;
		}
		#sidebar-tools-toggle {
			left                : auto;
			right               : -21px;
			background-position : -21px -2px;
		}
		#sidebar-reports.hidden #sidebar-reports-toggle {
			background-position : -21px 0;
		}
		#sidebar-tools.hidden #sidebar-tools-toggle {
			background-position : 0 0;
		}
		
	/* Footer */
	#footer {
		font-family      : "Open sans";
		height           : 40px;
		line-height      : 40px;
		background-color : #003399;
		color            : #999;
		width            : 100%;
		position         : absolute;
		bottom           : 0;
		left             : 0;
		padding          : 0 10px;
		z-index          : 10000;
	}
	#footer a {
		text-decoration  : underline;
	}
	#footer a:hover, #footer a:focus {
		color            : #fff;
	}
	#footer .logo {
		position         : relative;
		top              : 5px;
		display          : inline-block;
		width            : 76px;
		height           : 20px;
	}
	#footer .contact {
		display          : inline-block;
		margin-left      : 25px;
	}
	#footer .copyright {
                position: relative;
                top: 4px;
		float            : right;
	}
	
