/* BASICS */
html, body {
	height               : 100%;
	width                : 100%;
}
body, .x-body {
	background           : #e5e3df url("../images/loading.gif") no-repeat 50% 50%;
	color                : #c6bdc5;
	font-family          : Arial, sans-serif;
	font-size            : 13px;
}
body.application {
	background-image     : none;
}
a {
	text-decoration      : none;
	color                : #c6bdc5;
}
a:hover, a:focus {
	text-decoration      : underline;
}

/* HEADER */
#header {
	background-color     : #371733;
	height               : 40px;
	line-height          : 40px;
	position             : relative;
	text-align           : center;
	font-weight          : bold;
}
#header a {
	padding              : 0 10px;
}
#header a:hover, #header a:focus {
	text-decoration      : none;
}
	#header .home {
		display          : inline-block;
		background-color : #482a43;
		font-weight      : bold;
		font-size        : 18px;
		text-transform   : uppercase;
		position         : absolute;
		left             : 0;
		top              : 0;
	}
	#header .menu {
		display          : inline-block;
	}
	#header .menu li {
		display          : inline-block;
		font-size        : 14px;
		margin-right     : 20px;
	}
	#header .menu li a {
		display          : block;
	}
	#header .menu li a:hover, #header .menu li a:focus {
		background-color : #482a43;
	}
	#header .menu li a.active {
		color            : #fff;
	}
	#header .user {
		position         : absolute;
		right            : 0;
		top              : 0;
		background-color : #482a43;
		text-transform   : uppercase;
	}
	#header .user a, #header .user span {
		float            : left;
	}
	#header .user span {
		width            : 1px;
		background-color : #c6bdc5;
		height           : 1em;
		margin-top       : 13px;
	}
	#header .user a:hover, #header .user a:focus {
		text-decoration  : underline;
	}

/* CONTENTS */
#content {
	position             : relative;
}
#content-intro, #content-application {
	display              : none;
}
body.intro #content-intro,
body.application #content-application {
	display              : block;
}
	.field {
		margin-top       : 10px;
		height           : 30px;
		line-height      : 30px;
	}
	.field .label {
		float            : left;
		width            : 40px;
		margin-right     : 10px;
		font-weight      : bold;
		color            : #c6bdc5;
	}
	.field .widget {
		height           : 30px;
		float            : left;
	}
	
	/* Intro */
	#content-intro {
		position         : absolute;
		width            : 645px;
		top              : 85px;
		left             : 0;
		background-color : #434254;
		background-color : rgba(67, 66, 84, .9);
		color            : #fff;
		font-weight      : bold;
		padding-top      : 10px;
		/* has to be above map*/
		z-index          : 10000;
	}
	#content-intro > .label {
		text-transform   : uppercase;
		font-size        : 30px;
		display          : block;
		margin-top       : 10px;
		margin-left      : 20px;
		float            : left;
		width            : 260px;
		line-height      : 1.2em;
		height           : 130px;
	}
	
	/* Application */
	#toolbar {
		position         : absolute;
		top              : 0;
		width            : 100%;
		height           : 95px;
		padding-top      : 10px;
		background-color : #434254;
		color            : #fff;
		/* has to be above map*/
		z-index          : 10000;
	}
	#toolbar > .label {
		text-transform   : uppercase;
		font-size        : 30px;
		display          : block;
		margin-left      : 20px;
		float            : left;
		width            : 260px;
		line-height      : 1.2em;
	}
	#toolbar .groups {
		margin-left      : 260px;
		width            : 800px;
	}
	#toolbar .group {
		padding          : 5px 20px 0 20px;
		margin-top       : 5px;
		background       : url("../images/toolbar-group-border.png") repeat-x 0 0;
		height           : 30px;
	}
	#toolbar .group:first-child {
		background       : none;
		margin-top       : 0;
		padding-top      : 0;
	}
	#toolbar .group .field {
		margin-top       : 0;
		margin-bottom    : 10px;
		float            : left;
		margin-right     : 10px;
	}
	#toolbar .group .label {
		width            : auto;
	}
	#toolbar .scope .label,
	#toolbar .teritory .label,
	#toolbar .theme .label {
		width            : 50px;
	}
	#toolbar .help {
		text-align       : right;
		font-weight      : bold;
	}
	#toolbar .share {
		position         : absolute;
		top              : 10px;
		right            : 20px;
		width            : 150px;
		height           : 70px;
	}
	#toolbar .share .widget {
		margin-bottom    : 10px;
	}
	#sidebar-tools {
		background       : #e5e3df url("../images/loading.gif") no-repeat 50% 50%;
		position         : absolute;
		top              : 95px;
		left             : 0;
		width            : 380px;
		/* has to be above map*/
		z-index          : 10000;
	}
	#sidebar-reports {
		background       : #e5e3df url("../images/loading.gif") no-repeat 50% 50%;
		position         : absolute;
		top              : 95px;
		width            : 580px;
		/* has to be above map*/
		z-index          : 10000;
	}
		body.intro #sidebar-reports, body.application #sidebar-reports.hidden {
			right        : -580px;
		}
		body.application #sidebar-reports {
			right        : 0;
		}
	#sidebar-reports-toggle {
		display          : block;
		width            : 20px;
		height           : 20px;
		background       : red;
		position         : absolute;
		left             : -20px;
		top              : 0;
		cursor           : pointer;
	}
	#sidebar-reports-toggle:hover {
		background       : blue;
	}
	#sidebar-reports.hidden #sidebar-reports-toggle {
		
	}

/* FOOTER */
#footer {
	height               : 40px;
	line-height          : 40px;
	background-color     : #371733;
	color                : #fff;
	position             : fixed;
	bottom               : 0;
	width                : 100%;
	padding              : 0 10px;
	-webkit-box-sizing   : border-box;
	-moz-box-sizing      : border-box;
	box-sizing           : border-box;
	font-size            : 12px;
	/* has to be above map*/
	z-index              : 10000;
}
#footer .label {
	font-weight          : bold;
	font-size            : 20px;
	display              : inline-block;
	margin-right         : 50px;
	margin-top           : -3px;
	vertical-align       : middle;
}
#footer .contact-person {
	display              : inline-block;
	margin-right         : 50px;
	vertical-align       : middle;
}
#footer .contact-email {
	text-decoration      : underline;
	vertical-align       : middle;
}
#footer .contact-email:hover, #footer .contact-email:focus {
	text-decoration      : none;
}
#footer .copyright {
	position             : absolute;
	right                : 10px;
}

/* WIDGETS */
#app-intro-scope, #app-intro-teritory, #app-intro-theme {width:300px;}
#app-toolbar-scope, #app-toolbar-teritory, #app-toolbar-theme {width:140px;}
#app-toolbar-year {width:130px;}
#app-toolbar-level {width:160px;}
#app-toolbar-visualization {width:210px;}
#app-toolbar-share {width:150px; height:30px;}
#app-tools-actions {height:30px; width:250px;}
#app-tools-accordeon {min-height:200px; width:250px;}
#app-reports-paging {height:30px;}
#app-reports-accordeon {min-height:400px; width:580px;}
