@media screen and (min-width: 1599px) {
	#content-intro-guide {
		top              : 125px;
	}
}
@media screen and (max-width: 1140px) {
	#toolbar > .label {
		width            : 70px;
		padding-left     : 70px;
		overflow         : hidden;
	}
}
@media screen and (max-width: 950px) {
	#toolbar > .label {
		display          : none;
	}
}
@media screen and (max-height: 800px) {
	#content-intro-terms {
                        height           : 494px; 
                        
		}
                #content-intro-terms #agreement-detail {
                    height: 216px;
                }
}
@media screen and (max-height: 700px) {
	#content-intro-terms {
                        height           : 394px; 
                        
		}
                #content-intro-terms #agreement-detail {
                    height: 116px;
                }
}