@media screen and (min-width: 1599px) {
	#content-intro-guide {
		top              : 125px;
	}
}
@media screen and (max-width: 1100px) {
	#toolbar > .label {
		width            : 70px;
		padding-left     : 70px;
		overflow         : hidden;
	}
}
@media screen and (max-width: 950px) {
	#toolbar > .label {
		display          : none;
	}
}
