/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-size: 12pt;
 font-family: 'calibri';
}
span.rvts8
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #ff0000;
}
span.rvts9
{
 font-size: 11pt;
 font-family: 'Calibri';
}
a.rvts10, span.rvts10
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts16, span.rvts16
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts16:hover { color: #0000ff; }
a.rvts17, span.rvts17
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts18, span.rvts18
{
 font-size: 11pt;
 font-family: 'Calibri';
 text-decoration: none;
}
a.rvts19, span.rvts19
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts19:hover { color: #0000ff; }
span.rvts20
{
 font-family: 'univers';
 font-style: italic;
 color: #000000;
}
span.rvts21
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts22
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #003300;
}
span.rvts24
{
 font-size: 11pt;
 font-family: 'Calibri';
}
a.rvts25, span.rvts25
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts25:hover { color: #0000ff; }
span.rvts26
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts27
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts28, span.rvts28
{
 font-size: 11pt;
 font-family: 'Calibri';
 text-decoration: none;
}
a.rvts28:hover { color: #0000ff; }
span.rvts29
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts30
{
 font-weight: bold;
}
a.rvts31, span.rvts31
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts32, span.rvts32
{
 font-size: 11pt;
 font-family: 'Calibri';
 text-decoration: none;
}
span.rvts33
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts34
{
 font-weight: bold;
 color: #000080;
}
span.rvts35
{
 font-style: italic;
 color: #800000;
}
a.rvts36, span.rvts36
{
 color: #008000;
 text-decoration: underline;
}
a.rvts37, span.rvts37
{
 font-size: 11pt;
 font-family: 'Calibri';
 text-decoration: none;
}
a.rvts38, span.rvts38
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts38:hover { color: #0000ff; }
a.rvts39, span.rvts39
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 8px 0px;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: justify;
 line-height: 1.20;
 margin: 0px 0px 8px 0px;
}
.rvps6
{
 margin: 0px 0px 8px 0px;
}
.rvps7
{
 text-align: justify;
}
.rvps8
{
 text-align: justify;
 text-indent: 0px;
 line-height: 1.20;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 13px 0px;
}
.rvps9
{
 text-align: justify;
 text-indent: 0px;
 line-height: 1.20;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps10
{
 text-align: justify;
 line-height: 1.20;
}
.rvps11
{
 text-align: justify;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 8px 0px;
}
.rvps12
{
 text-align: justify;
 text-indent: -24px;
 line-height: 1.20;
 margin: 0px 0px 0px 48px;
}
.rvps13
{
 text-align: center;
}
.rvps14
{
 text-align: justify;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 8px 0px;
}
.rvps15
{
 text-align: center;
 text-indent: 0px;
 line-height: 1.20;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 13px 0px;
}
.rvps16
{
}
.rvps17
{
 text-align: justify;
 margin: 0px 0px 8px 0px;
}
.rvps18
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 0px; list-style-position: inside;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list4 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
