Nastaveni apache.conf pro servirovani statickych souboru primo Apachem:

Alias /help /var/www/puma-app/public/help/

#### /tool/* static routing
RedirectMatch 301 ^/tool$ /tool/
RedirectMatch 301 ^/catalogue/(.*)$ /catalogue/$1

AliasMatch ^/tool/$ /var/www/puma-app/public/data-exploration.html
Alias /tool/css /var/www/puma-app/public/css
Alias /tool/ux /var/www/puma-app/public/ux
Alias /tool/_main /var/www/puma-app/public/_main
Alias /tool/_common /var/www/puma-app/public/_common
Alias /tool/images /var/www/puma-app/public/images
Alias /tool/devlib /var/www/puma-app/public/devlib
Alias /tool/lib /var/www/puma-app/public/lib
Alias /tool/gisatlib /var/www/puma-app/public/gisatlib
Alias /tool/extjs-4.1.3 /var/www/puma-app/public/extjs-4.1.3

ProxyPassMatch ^/tool/?$ !
ProxyPass /tool/css !
ProxyPass /tool/ux !
ProxyPass /tool/_main !
ProxyPass /tool/_common !
ProxyPass /tool/images !
ProxyPass /tool/devlib !
ProxyPass /tool/lib !
ProxyPass /tool/gisatlib !
ProxyPass /tool/extjs-4.1.3 !

#### /tool* non-static routing (and some minor static, not covered by above code)
ProxyPass /tool http://127.0.0.1:3000
ProxyPassReverse /tool http://127.0.0.1:3000