html {
	-webkit-box-sizing: border-box; /* Needed for mobile WebKit */
	-moz-box-sizing: border-box; /* Needed for Firefox */
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin:0;
	padding:0;
	font-size:0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* ===== base & typography ===== */
/* 	base font 1.25 rem - 20px, line 30px
	grid half line 15px -> .625rem
*/

html, body {
	height: 100%;
	overflow: hidden;
}

html {
	font-size:100%;
}
body {
	background:#aaa;
	font-family:Open Sans;
	line-height:1.5;
	color:#242424;
}

h1, h2, h3, h4, h5 {
	/*line-height:1.2;*/
}

p, a {
	font-size:1.25rem;
}
p {
	max-width:40em; /* 50em at 1.25rem */
	margin-bottom:1.875rem;
}
a, a:link {
	color:#004eff;
}
a:visited {
	color:#0039bc;
}
a:hover, a:visited:hover {
	color:#2f6eff;
}
a, a:link, a i {
	
	-o-transition:  color .3s ease-out;
	-ms-transition:  color .3s ease-out;
	-moz-transition:  color .3s ease-out;
	-webkit-transition:  color .3s ease-out;
	transition:  color .3s ease-out;
}



/* =====  ===== */

#menu {
	background-color: #222;
}

#content {
	
}

.screen {
	height: 100%;
	overflow: auto;
	position: absolute;
	
	background-color: #aaa;
}

/* ==== responsive layouts ==== */

@media screen and (max-width:53.99999em) {
	
	#menu {
		width: 100%;
		height:3.75rem;
	}
	
	#content {
		position: relative;
		height: calc(100% - 3.75rem);
	}
	.screen {
		width: 100%;
		left:0;
	}

}
@media screen and (min-width:54em) {
	
	body {
		
	}
	
	#menu {
		position: relative;
		z-index: 20;
		width: 3.75rem;
		height: 100%;
		overflow: hidden;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
		
		transition: width .3s ease-in-out;
		transition-delay: .2s;
	}
	#menu:hover {
		width: 12rem;
		transition-delay: .7s;
	}
	
	#content {
		position: absolute;
		z-index: 10;
		top:0;
		left:3.75rem;
		height: 100%;
		width: calc(100% - 3.75rem);
		display: flex;
	}
	
	.screen {
		position: relative;
		width: 5rem;
		overflow: hidden;
		
		box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.7);
		
		transition: all .5s ease-in-out;
		transition-property: flex-grow, background-color;
		
		flex-grow: 0.0000001;
	}
	.screenContent {
		width: 50rem;
	}
	.screen.open, .screen.opening, .screen.opening2 {
		flex-grow: 1;
		margin-right: .675rem;
	}
	.screen.opening2 {
		overflow-y: auto;
	}
	.screen.open {
		overflow: auto;
	}
	.screen:last-child {
		margin-right: 0;
	}
	.screen.retracted {
		background-color: #888;
	}
	.screen.retracted:hover {
		background-color: #939393;
	}
	
}

/* ==== development === */

#content {
	/*border: 1px solid #f00;*/
}

.screen {
	
	/*background-color: burlywood;*/
}
p {
	padding: 0 1.25rem;
}

@media screen and (min-width:54em) and (max-width:69.99999em) {
	
	body {
		/*background-color: aqua;*/
	}

}